<!-- The title of the ion-view will be shown on the navbar -->
<ion-view title="Recipe Search">
  <ion-content has-bouncing="false">
    <div></div>
    <div class="item item-input-inset row ingredient-search">
      <label class="item-input-wrapper col-80">
        <input type="text" placeholder="Type in ingredient name"/>
      </label>
      <a class="ion-plus-circled col-offset-10"></a>
    </div>
    <ion-list>
      <ion-item ng-repeat="ingredient in selected_ingredients">
        <h2>{{ ingredient.name }}</h2>
        <ion-option-button class="ion-minus-circled"
                           ng-click="delete(ingredient)">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="middle" class="bar-assertive">
    <ion-tabs class="tabs-positive tabs-icon-top">
      <ion-tab title="15m to 30m" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
      <!-- Tab 1 content -->
      </ion-tab>
      <ion-tab title="30m to 1h" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
      <!-- Tab 2 content -->
      </ion-tab>
      <ion-tab title="1h to 2h" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
      <!-- Tab 3 content -->
      </ion-tab>
      <ion-tab title="2h to 4h" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
      <!-- Tab 4 content -->
      </ion-tab>
      <ion-tab title="4h+" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
      <!-- Tab 5 content -->
      </ion-tab>
    </ion-tabs>
  </ion-footer-bar>
</ion-view>
