/* Your app's SASS, go crazy, make it your own */

.ingredient-search .ion-plus-circled{
    font-size: 2em;
}

.search-box{
    background: transparent;
}

.recipe-list .item{
    ul.rating li {
        padding: 0;
        i{
            font-size: 1.2em;
        }
    }
    p{
        margin: 0;
    }
}